{% extends 'home/base.html' %}

{% block content %}
    {% if forumTitleList %}
    <h2>Boards<hr /></h2>
<p>Attention:
    <i>This website is in Beta mode.</i></p>


    <div>
        {% for q in forumTitleList %}


            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'forum_posts' q.id %}">{{ q.title }}</a>
                </div>
            </div>

            {% if forumPostList %}
                <ul>
                    {% for i in forumPostList %}
                        {% if i.idForumCategory.id == q.id %}
                            <li>
                                <span class="glyphicon glyphicon-th-list"
                                                          aria-hidden="true"></span>
                                <a href="{% url 'post_messages' i.id %}">{{ i.title }} </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>


            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}