{% extends 'home/base.html' %}

{% block content %}
    {% if forumTitleList %}
    <h2>Hot Forums<hr /></h2>
    <div>
        {% for q in forumTitleList %}
        <ul>
            <li>
                <a href="{% url 'forum_posts' q.id %}">{{ q.title }}</a>
            </li>

            {% if forumPostList %}
                <ul>
                    {% for i in forumPostList %}
                        {% if i.idForumCategory.id == q.id %}
                            <li>
                                <a href="{% url 'post_messages' i.id %}">{{ i.title }} </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

        </ul>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}