{% extends 'home/base.html' %}
    {% block content %}

 {% if forumPostMessages %}
        <ul>
        {% for q in forumPostMessages %}
            <li><a href="{% url 'thread_view' post_id=q.pk %}"> {{ q.idUser.username }} : {{ q.title }} :
                {{ q.content_text }}</a>
            {% if user.is_authenticated %}
                {% if user == q.idUser %}

                            <a class="btn btn-default" href="{% url 'post_edit' pk=q.pk %}">Edit Post</a>
                {% endif %}
            {% endif %}
            </li>

        {% endfor %}
        </ul>
        {% else %}
        <p>No Forums are available.</p>
        {% endif %}
    {% endblock %}
