{% extends 'home/base.html' %}
    {% block content %}

 {% if forumPostMessages %}

    <h2>{{ title }}<hr /></h2>

        <ul>
        {% for q in forumPostMessages %}
            <li><span class="glyphicon glyphicon-comment"
                                                          aria-hidden="true"></span>
                <a href="{% url 'thread_view' post_id=q.pk %}"> {{ q.idUser.username }} : {{ q.title }} :
                {{ q.content_text }}</a>
                {% if q.edited %}
                <p>This is an edited Post</p>
                {% endif %}
            {% if user.is_authenticated %}
                {% if user == q.idUser %}

                            <a class="btn btn-default" href="{% url 'post_edit' pk=q.pk %}">Edit Post</a>
                {% endif %}
            {% endif %}
            </li>

        {% endfor %}
        </ul>
        {% else %}
        <p>No Forums are available.</p>
        {% endif %}
    {% endblock %}
