{% extends 'home/base.html' %}
    {% block content %}

            {% if posts %}
            {% for q in posts %}

                        <li><a href="{% url 'thread_view' q.idForumPost.id %}">
                                <span class="glyphicon glyphicon-comment"
                                                          aria-hidden="true"></span>
                                {{ q.idUser }} : {{ q.content_text }}
                        </a>
                        </li>
            {% endfor %}
            {% else %}
            <h1>No results to display</h1>
            {% endif %}

    {% endblock %}
