{% extends 'home/base.html' %}
    {% block content %}

            {% if posts %}
            {% for q in posts %}

                        <li>
                                <span class="glyphicon glyphicon-comment"
                                                          aria-hidden="true"></span>
                                {{ q.idUser }} : {{ q.content_text }}


                            {% if user.is_authenticated %}
                                <a class="btn btn-default" href="{% url 'post_edit' pk=q.pk %}">Edit Post</a>
                            {% endif %}
                        </li>
            {% endfor %}
            {% else %}
            <h1>No results to display</h1>
            {% endif %}

    {% endblock %}
