{% extends 'home/base.html' %}
    {% block content %}

 {% if threadList %}
        <ul>
        {% for q in threadList %}
            <li>{{ q.idUser.username }} : {{ q.content_text }}
            {% if user.is_authenticated %}
                {% if user == q.idUser %}
                            <a class="btn btn-default" href="">Edit Post</a>
                {% endif %}
            {% endif %}
            </li>

        {% endfor %}
        </ul>

        {% else %}
        <p>No Forums are available.</p>
        {% endif %}
        {% if user.is_authenticated %}
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="Submit" />
        </form>
        {% endif %}

    {% endblock %}
